<div class = "container custom-container">
    <div class = "col-md-12">
        <h3 class = "mb-3 text-center">Adicione um filme</h3>

        <div class = "input-group mb-3">
            <input type = "text" [(ngModel)] = "filmeAdd.titulo" class = "form-control" placeholder="Informe o nome do filme"/>
        </div>

        <div class = "input-group mb-3">
            <input type = "text" [(ngModel)] = "filmeAdd.genero" class = "form-control" placeholder = "Informe o genero do filme"/>
        </div>

        <div>
          <textarea class="input-group mb-3" [(ngModel)] = "filmeAdd.descricao" aria-label="Informe a descrição" placeholder = "Informe a descrição" style="resize: none"></textarea>
        </div>

        <div class = "input-group mb-3">
            <input type = "text" [(ngModel)] = "filmeAdd.anoLancamento" class = "form-control" placeholder = "Informe o ano de lançamento"/>
        </div>

        <div class = "input-group mb-3">
            <input type = "text" [(ngModel)] = "filmeAdd.diretor" class = "form-control" placeholder = "Informe o diretor"/>
        </div>

        <div class = "input-group mb-3">
            <input type = "number" [(ngModel)] = "filmeAdd.avaliacao" class = "form-control" placeholder = "Avaliação do filme"/>
        </div>

        <div class = "input-group mb-3">
            <button class = "btn btn-success btn-md btn-block" (click) = "addFilme()">Criar Registro</button>
        </div>

    </div>
</div>
