<!-- Componente responsável para exibição dos dados -->
<div class="container-lg">
  <div class="no-data text-center" *ngIf="Filmes.length == 0 ">
    <h1 class="h1-mensagem">Você ainda não cadastrou nenhum filme :( </h1>
  </div>
  <div class="pull-right">
    <button class="btn btn btn-primary btn-sm" routerLink="/create-filmes">Registre um Filme</button>
  </div>
  <!--Aqui, se existirem registros, serão exibidos agora-->
  <div *ngIf="Filmes.length !== 0">
    <h3 class="mb-3 text-center">Lista de Filmes assistidos</h3>
    <div class="col-md-12">
      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th escope="col">Id</th>
            <th escope="col">Título</th>
            <th escope="col">Gênero</th>
            <th escope="col">Descrição</th>
            <th escope="col">Ano de Lançamento</th>
            <th escope="col">Diretor</th>
            <th escope="col">Avaliação</th>
            <th escope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of Filmes">
            <td>{{ x.id }}</td>
            <td>{{ x.titulo }}</td>
            <td>{{ x.genero }}</td>
            <td>{{ x.descricao }}</td>
            <td>{{ x.anoLancamento }}</td>
            <td>{{ x.diretor }}</td>
            <td>{{ x.avaliacao }}</td>
            <td >
              <div class="btn-group">
                <button class="btn btn btn-success btn-sm" routerLink="/filmes-edit/{{ x.id }}">Editar</button>
                <button class="btn btn btn-danger btn-sm" (click)="deleteFilme(x.id)">Deletar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
