.container-exibir {
  background-color: rgb(255, 255, 255);
  height: 95vh;
}

.h3-mensagem {
  font-size: 1.75 rem;
  color: #ffffff;
}

.btn-cadastro {
  color: #ffffff;
  background-color: #e50914;
  border-color: #e50914;
}

#btnCadastro{
  text-align: right;
}

#teste {
  color: #ffffff;
}

